# Company logo URL for reports
COMPANY_LOGO_URL=https://ueatpdrgktpdcrrgeshi.supabase.co/storage/v1/object/public/assets/vert_logo/Vert-Energy-Group-Logo-Official-compress.png 


# Connect to Supabase via Shared Connection Pooler
DATABASE_URL="postgresql://postgres.ueatpdrgktpdcrrgeshi:[YOUR-PASSWORD]@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database through Shared Pooler (supports IPv4/IPv6). Used for migrations.
DIRECT_URL="postgresql://postgres.ueatpdrgktpdcrrgeshi:[YOUR-PASSWORD]@aws-0-us-west-1.pooler.supabase.com:5432/postgres"

# If your network supports IPv6 or you purchased IPv4 addon, use dedicated pooler
# DATABASE_URL="postgres://postgres:[YOUR-PASSWORD]@db.ueatpdrgktpdcrrgeshi.supabase.co:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgres://postgres:[YOUR-PASSWORD]@db.ueatpdrgktpdcrrgeshi.supabase.co:5432/postgres"

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""
